---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "@fontsource/atkinson-hyperlegible";
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/400-italic.css";

import '../styles/global.css';

interface Props {
	title: string;
	description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description } = Astro.props;
import { SITE_TITLE, SITE_DESCRIPTION, SUBDIR_ADAPTIVE_URL } from '../consts';
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href={SUBDIR_ADAPTIVE_URL("images/favicon.ico")} />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<!-- NPMでのインストーに変更（ルートディレクトリの動的変更に対応するため） -->
<!-- <link rel="preload" href={SUBDIR_ADAPTIVE_URL("images/fonts/atkinson-regular.woff")} as="font" type="font/woff" crossorigin />
     <link rel="preload" href={SUBDIR_ADAPTIVE_URL("images/fonts/atkinson-bold.woff")} as="font" type="font/woff" crossorigin /> -->

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

