---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SUBDIR_ADAPTIVE_URL } from '../../consts';
import { getCollection } from 'astro:content';

const projs = await getCollection('projects');

---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
		 main {
			 width: 80%;
             min-height: 80vh;
		 }
         .project-group {
             font-size: 1.3em;
             margin-bottom: 1em;
             border: solid 1px rgba(0, 0, 0, 1);
             width: fit-content;
             padding: 0.6em 1em 0.4em 1em;
             border-radius: 2em;
             color: white;
         }
         .research-project {
             background-color: #5f9ea0;
         }

         .development_notification {
             color: gray;
             line-height: 1.2;
             height: 4em;
             text-align: right;
         }

         .page_abstract {
             height: 150%;
             margin-bottom: 4em;
         }
         
		 ul {
			 display: flex;
			 flex-wrap: wrap;
			 gap: 2rem;
			 list-style-type: none;
			 margin: 0;
			 padding: 0;
		 }
		 ul li {
			 width: calc(40% - 1rem);
             margin-right: 4em;
             margin-bottom: 3em;
             max-height: 300px;
             overflow: hidden;
		 }
		 ul li * {
			 text-decoration: none;
			 transition: 0.2s ease;
		 }
		 ul li img {
			 margin-bottom: 0.5rem;
			 border-radius: 5px;
             /* box-shadow: var(--box-shadow); */
             border: solid 1px rgba(0,0,0, 0.1);

		 }
		 ul li a {
			 display: block;
		 }
		 .title {
			 margin: 0;
			 color: rgb(var(--black));
			 line-height: 1.2;
             height: 100%;
             font-size: 1em;
		 }
		 .date {
			 margin: 0;
			 color: rgb(var(--gray));
		 }
		 ul li a:hover h4,
		 ul li a:hover .date {
			 color: rgb(var(--accent));
		 }
		 ul a:hover img {
			 box-shadow: var(--box-shadow);
		 }
		 @media (max-width: 720px) {
			 ul {
				 gap: 0.5em;
			 }
			 ul li {
				 width: 100%;
				 text-align: center;
			 }
		 }

		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
                <h3 class="project-group research-project">研究プロジェクト</h3>
                <div class="development_notification">※本ページは現在準備中です</div>

                <div class="page_abstract">
                    以下は，現在取り組んでいる研究プロジェクトの例です．<br />
                    特定のタスクやトピックの内容に入り込んだレベルのメタ認知知識を計算機システムとヒトがどちらも扱えるようにする方法を模索する取り組みが中心です．<br />
                    この他のプロジェクトについては，<a href="https://kshci-lab.net/projects">瀬田・林・油谷研究室のWebサイト</a>を参照してください．
                </div>
                
				<ul>
					{
					projs.map((project, index) => (
					<li>
						<a href={SUBDIR_ADAPTIVE_URL(`projects/${project.slug}/`)}>
							<h4 class="title">{index+1}. {project.data.title}</h4>
                            <img width={720} height={360} src={SUBDIR_ADAPTIVE_URL(project.data.heroImage)} alt="" />
							
						</a>
					</li>
					))
					}
				</ul>
			</section>
            <hr />
		</main>
		<Footer />
	</body>
</html>
