---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description, productType, systemUrl, heroImage } = Astro.props;

import { SITE_TITLE, SITE_DESCRIPTION, SUBDIR_ADAPTIVE_URL } from '../consts';

---

<html lang="ja">
	<head>
        <BaseHead title={title} description={description} />
		<style>
		 main {
			 width: calc(100%);
			 max-width: 100%;
			 margin: 0;
		 }

		 .hero-image {
			 width: 100%;
             border: black 1px;
		 }
		 .hero-image img {
			 display: block;
			 margin: 0 auto;
			 border-radius: 12px;
			 box-shadow: var(--box-shadow);
		 }
		 .prose {
			 width: 90%;
			 max-width: calc(100%);
			 margin: auto;
			 padding: 1em;
			 color: rgb(var(--gray-dark));
             font-size: 0.8em;
		 }
		 .title {
			 margin-bottom: 1em;
			 padding: 1em 0;
			 text-align: center;
			 line-height: 1;
		 }
		 .title h1 {
			 margin: 0 0 0.5em 0;
		 }
         .system-link {
             text-decoration: none;
             float: right;
             text-align: right;
             border: solid 1px black;
             border-radius: 20px;
             padding: 10px 10px 6px 10px;
             font-size: 0.7em;
             position: relative;
             top: -2em;
         }
         .system-link:hover {
             background-color: rgba(240, 255, 240);
			 box-shadow: var(--box-shadow);
             transition: all .2s ease-in-out;
         }
		</style>
	</head>

	<body>
		<Header />
		<main id="product_systems">
			<article>
				<div class="hero-image">
					{heroImage && <img width={510} height={255} src={SUBDIR_ADAPTIVE_URL(heroImage)} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<hr />
					</div>
                    {
                    systemUrl && (
                    <a class="system-link" href={systemUrl}>システムデモ</a>
                    <div class="clear"></div>
                    )
                    }
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
